{% extends "base.html" %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Restablecer Contraseña</h2>
            <p class="text-center">Introduce tu correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>
            <form method="post" action="{% url 'account_reset_password' %}" class="p-4 border rounded shadow-sm bg-light">
                {% csrf_token %}
                {{ form.email|add_class:"form-control mb-3" }}
                <button type="submit" class="btn btn-primary w-100">Enviar Enlace</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
