<form id="add-product-form" enctype="multipart/form-data" class="p-3">
    {% csrf_token %}

    <!-- Campo de Nombre del Producto -->
    <div class="form-group mb-3">
        <label for="nombre" class="form-label">Nombre del Producto</label>
        <input type="text" name="nombre" class="form-control" required placeholder="Ingrese el nombre del producto">
    </div>

    <!-- Campo de Selección de Categoría -->
    <div class="form-group mb-3">
        <label for="categorias" class="form-label">Categoría</label>
        <select name="categorias" class="form-select" required>
            <option value="" selected disabled>Seleccione una categoría</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Campo de Precio -->
    <div class="form-group mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" name="precio" class="form-control" required placeholder="Ingrese el precio del producto">
    </div>

    <!-- Campo de Disponibilidad (Checkbox) -->
    <div class="form-check form-switch mb-3">
        <input type="checkbox" name="disponibilidad" class="form-check-input" id="disponibilidad">
        <label class="form-check-label" for="disponibilidad">Disponible</label>
    </div>

    <!-- Campo de Imagen -->
    <div class="form-group mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input type="file" name="imagen" class="form-control">
    </div>

</form>
