.hover-effect {
    transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
    transform: translateY(-5px);
}

.sticky-top {
    z-index: 1020;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-primary {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
}

.card-title {
    font-weight: 600;
}

.text-primary {
    color: var(--bs-primary) !important;
}